*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.top
{
    background-color: #1F2937;
    padding: 0px 216px; 
}
.logo
{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
.nav-right
{
    display: flex;
    gap: 32px;
    
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
      
}
.nav-right div a 
{
    text-decoration: none;
    color:#e5e7ebbd;
    font-size: 18px;
}
.bottom-nav
{
    height: 500px;
    display: flex;
    align-items: center;
    gap: 58px;
}
.left
{
    width: 450px;
    
}
.left >p{
    color:#e5e7ebbd;
    font-size: 18px;
    margin-top: 8px;
}
.left > h1{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}
.left > button {
    background-color: #3882F6;
    padding: 12px;
    color: #F9FAF8;
    font-size: 16px;
    
    padding: 10px 40px;  
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 12px;
}
.right{
    width: 550px;
    height: 250px;
    background-color: gray;
}
.middle-top
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;

}
.element-wrapper
{
    width: 150px;
    height: 150px;
}
.element-wrapper .img 
{
    width: 142px;
    height: 142px; 
    border: 4px solid #3882F6;
    border-radius: 8px;
}
.images {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}
.middle-top > h1 {
    padding: 50px;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}
.element-wrapper p {
    text-align: center;
    color:#858b97;
    padding: 10px 0;
}
.middle-bottom
{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    height: 500px;
    align-items: center;
    box-sizing: border-box;
}
.quote-text
{
    font-size: 36px;
    font-weight: lighter;
    font-family: italic;
    color:#1F2937;
    width: 800px;
    text-align: justify;
    padding: 22px 0;
}
.author
{
    font-weight: bolder;
    text-align: end;
    font-size: 22px;
}